@page
@model PsychologyHealthCare.RazorWebApp.Pages.AppointmentTrackings.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment Tracking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.Id)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.StartTime)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.StartTime)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.EndTime)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.EndTime)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.CreatedDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.CreatedDate)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.UpdatedDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.UpdatedDate)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.Rating)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.Rating)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.Holder)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.Holder)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.Address)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.Address)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.Type)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.Type)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.SystemStatus)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.SystemStatus)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.ProgramTrackingId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.ProgramTrackingId)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AppointmentTracking.ProgramTracking.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AppointmentTracking.ProgramTracking.Name)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentTracking.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
